@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
	background: #ddd; height:100vh;overflow-x: hidden;}	
.text{color:brown;font-size:220px;text-align:center;}
.open{color:green;background:#000;padding:10px;border-radius:20px;}

/* Preloader */
.container-preloader {
	align-items:center; display:flex; height:100vh;
  justify-content:center; position:fixed; left:0; top:0; width:100vw; z-index:900;
  /* cursor:progres; */
}
.container-preloader .animation-preloader {
	position:absolute;
     z-index: 100;}

/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
    
  animation: spinner 1s infinite linear;
  border-radius: 50%;  border: 8px solid rgba(0, 0, 0, 0.2);
  border-top-color: #2c3e50; /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Breathing Animation */
@keyframes breathing {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(.9); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
  }
  

.container-preloader .animation-preloader img {
    position: absolute;
    top: 8%;
    left: 42.1%;
    transform: translate(-50%, -50%);
    height: 6.2em; /* Adjust the height as needed */
    width: 6.2em; /* Adjust the width as needed */
    animation: breathing 3s infinite ease-in-out;
  }


/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 3em 'Montserrat', sans-serif;
	text-align: center;	user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: #7194e6;
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: rgba(0, 0, 0, 0.2);	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
  background-color: #ffffff;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
    .container-preloader .animation-preloader img {
        position: absolute;
        top: 7%;
        left: 38%;
        transform: translate(-50%, -50%);
        height: 5em; /* Adjust the height as needed */
        width: 5em; /* Adjust the width as needed */
        animation: breathing 3s infinite ease-in-out;
      }
    
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 1.75em 'Montserrat', sans-serif;
	}}
.origin{text-decoration:none;
font-size:45px;}



/* ================================================== */

::selection {
    background-color: #2c3e5092; /* Change selection background color */
    color: #ffffff; /* Change selection text color */
}

body{
    /* position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; */
    background-image: url(../images/bg5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* filter: blur(8px); */
    z-index: -1;
    /* -webkit-backdrop-filter:blur(18px); */
    
}



header{
    font-family: 'Open Sans', sans-serif !important;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav{
    height: 80px;
    background-color: #2c3e50;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}





nav img{
    width: 180px;
    position: absolute;
    left:7%;
    top:15px;

}

/* nav ul{
    float: right;
    margin-right:25px;
    list-style: none;
    
} */

nav ul {
    margin-right: 25px;
    margin-bottom: 0 !important;
    list-style: none;
}





nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 15px;
    
}

nav ul li a{
    position: relative;
    color: white !important;
    font-size: 14px;
    padding: 5px 0;
    text-decoration: none !important;
    text-transform: uppercase;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width:100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
    border-radius: 3px;
    
}








nav ul li a:hover:before{
   
    transform: scaleX(1);
    transform-origin: left;
}


label #btn, label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 22px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}



/* ======================================================================1118px============================================================== */

@media(max-width:1118px){
    nav img{
        left: 8%;
    }

}



/* ======================================================================944px============================================================== */
@media(max-width:944px){
    nav img{
        left: 3%;
        top:20px;
        width:140px
    }
    nav ul li a{
        font-size: 17px;
    }

}

/* ======================================================================860px============================================================== */
@media(max-width:860px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #34495e;
        top:80px;
        left:-100%;
        text-align: center;
        transition:all .5s;

    }

    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked~ul{
        left: 0;
    }

    #check:checked~ label #btn{
        display: none;
    }

    #check:checked~ label #cancel{
        display: block;
    }

   
    .col-md-2{
        margin: 12px;
    }

    .logo-disc{
       margin-top: 70px !important;
    }

    .institute_logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 65%;
        
      }

     

      .resume-logo{
        margin-bottom: 0;
        width: 65%;
        margin-top: 50px;
        margin-bottom: 50px;
      }

  


}



/* .coding-animation{
        
   
    width: 50%;
} */

/* .animation{
    width: 90%;
}  */


    
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .waving-hand {
    font-size: 25px;
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }
    h4{
      display: inline-flex;
    }
    
    .underline{
    position: relative;
    }
    
    .underline:after{
      content: '';
      position: absolute;
      width: 100%;
      border-top: solid 4px red;
      left:0;
      bottom: -10px;
      border-radius: 50%;
      height: 7px;
    
    
    
    }

   

    #name-title{
        color: rgb(57, 120, 207);
        font-family: 'Oswald', sans-serif;
      }
    
    .profile{
        color: #555;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.56em;
    }

    .profile, .left-detail{
        color: #555;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
    }



.customized-title{
    color:#34495e;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
}

    
/* =====================================================Scrollbar================================================================== */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



/* 
section::after{
    height: 100vh;
} */

/* section:nth-child(2){
    height: 110vh;
    
} */


#man{

    width: 60%;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #2c3e50;
}

.footer-text{
    color: white;
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 700;
    font-size: 1.1em;
}



.arrow-box{
    position: fixed;
    right: 10px;
    bottom: 52px;
    z-index: 100;     
}

#scroll-to-top{
    font-size: 35px;
    color: #2c3e50;
    cursor:pointer;
    display: none; 
    z-index: 100;
}
.second-section{
    margin-top: 100px;
}
.tool{
    margin-top: 6em;
    margin-bottom: 6em;
}

.card_logos{
    height: 150px;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    border:2.8px solid #2c3e50 ;
    text-align: center;
    padding: 15px;
    
    
}

.card_logos:hover{
    transform: translateY(-8px);
    cursor: pointer;
    box-shadow: 0 0 22px #223243;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.789);
}

.card_logos>i{
    color: #2c3e50;
    font-size: 7em;
    font-weight: 450;
    
}

.card_logos>.image{
    width: 7.25em;
    margin: auto;
}


.card_lg{
    height: auto !important ;
}

.card-header{
    background-color: #2c3e5092;
    color: white;
    padding: 18px;
}

.card-btn{
    color: #2c3e50;
    border:2px solid #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    transition:transform 0.3s ease-in-out ;
}
.card-btn:hover{
    background-color: #2c3e50;
    color: #ffffff;
}

.degreelogo{
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    display: block; /* Remove any default spacing */
}

.institute_logo {
   
    width: 180px;
  }

  .logo-disc{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #888888bb;
    box-shadow: 5px 5px 5px #888888;
}
.card-text{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
    color: #555;
    
}



.card-header{
    font-family: 'Roboto Condensed', sans-serif;
}



iframe{
    width: 98%;
    height: 78.73em;
    background-color: #ffffff;
    
    
    
}
/* 
.shadow-box{
    box-shadow: 0 0 22px #223243;
} */

.resume-logo{
    margin: 50px 0 0 5px;
    width: 45%;
   
  }


#resume-download-btn,.btn-submit{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    width: 200px;
    color: #2c3e50;
    border:2px solid #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    transition:transform 0.3s ease-in-out ;
}


#resume-download-btn, .btn-submit:hover{
    transform: translateY(-3px);
    background-color: #2c3e50;
    color: #ffffff;
}

.contact-logo{
    width: 68%;
   
  }


.contact-box{
    background-color: #a8a8a844;
    padding: 1.25em;
    border-radius: 20px 0;
}

.required>sup{
    color: red;
}


.form-control:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.35);
}


